---
import ContactForm from "../components/ContactForm";
import Layout from "../layouts/Layout.astro";
import Talking from "../assets/talking.gif";
---

<Layout title="Contact Rohit Tokala">
  <div
    class="flex flex-col md:flex-row gap-14 md:gap-0 justify-evenly mt-4 md:mt-36 items-center mb-4"
  >
    <div class="flex flex-col items-center gap-2">
      <h2 class="text-4xl">Get in touch with me!</h2>
      <img
        alt="Illustration shwoing a man virtually talking with another man"
        src={Talking}
        class="w-[512px] h-auto"
      />
      <div class="text-sm">
        Illustration by <a
          target="_blank"
          rel="no_referrer"
          class="underline"
          href="https://icons8.com/illustrations/author/iAdLsFJOKDrk"
          >Tanya Krasutska</a
        > from <a
          target="_blank"
          rel="no_referrer"
          class="underline"
          href="https://icons8.com/illustrations">Ouch!</a
        >
      </div>
    </div>
    <ContactForm client:visible />
  </div>
</Layout>
