---
import Layout from "../layouts/Layout.astro";
import Programmer from "../assets/programmer.gif";
// import PogrammerVideo from "../assets/programmer.mp4";
---

<Layout title="Rohit Reddy Tokala">
  <div
    class="flex flex-col lg:flex-row items-center justify-evenly mt-10 gap-3 lg:gap-0"
  >
    <div class="h-full flex flex-col gap-2 mx-3 md:mx-20">
      <h2 class="text-5xl font-semibold">Hi, I'm Rohit Tokala.</h2>
      <p class="italic text-base">An aspiring full stack developer...</p>
      <p class="text-lg">
        Recently Graduated from Purdue with a degree in Computer Engineering, I
        have been learning about web development for a little over a year and am
        looking for postitions where I can contribute as well as learn more
        about the industry. Check out some of my projects in the Projects tab
        and if you'd like to get in touch with me, Contact Me!
      </p>
      <p class="text-lg">Looking forward to connecting with you!</p>
    </div>
    <div class="flex flex-col gap-1 items-center justify-center">
      <img
        src={Programmer}
        class="w-[512px] h-auto lg:w-[1024px] lg:h-auto"
        alt="Illustration of a man programming on a laptop"
      />
      <!-- <video autoplay loop muted preload="auto">
        <source src={PogrammerVideo} type="video/mp4" />
      </video> -->
      <div class="text-sm">
        Illustration by <a
          target="_blank"
          rel="no_referrer"
          class="underline"
          href="https://icons8.com/illustrations/author/259416">Marina Green</a
        > from <a
          target="_blank"
          rel="no_referrer"
          class="underline"
          href="https://icons8.com/illustrations">Ouch!</a
        >
      </div>
    </div>
  </div>
</Layout>
