---
import ThemeToggle from "./ThemeToggle";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<div
  class="flex items-center justify-between p-4 w-full h-11 shadow-sm shadow-tertiary dark:shadow-Dtertiary"
>
  <a href="/" class="hidden md:block text-2xl font-bold">Rohit Tokala</a>
  <a href="/" class="md:hidden text-4xl font-medium">RT</a>
  <nav class="flex gap-0 md:gap-4 text-xl items-center">
    <a
      href="/"
      class={`hover:bg-tertiary dark:hover:bg-Dtertiary hover:text-tint px-2 hover:cursor-pointer rounded-md p-1 ${
        currentPath === "" ? " underline underline-offset-2" : ""
      } `}
    >
      Home
    </a>
    <a
      href="/projects"
      class={`hover:bg-tertiary dark:hover:bg-Dtertiary hover:text-tint px-2 hover:cursor-pointer rounded-md p-1 ${
        currentPath === "projects/" ? " underline underline-offset-2 " : ""
      }`}
    >
      Projects
    </a>
    <a
      href="/contact"
      class={`hover:bg-tertiary dark:hover:bg-Dtertiary hover:text-tint px-2 hover:cursor-pointer rounded-md p-1 ${
        currentPath === "contact/" ? " underline underline-offset-2 " : ""
      }`}
    >
      Contact
    </a>
  </nav>
  <div
    class="flex items-center dark:bg-Dtertiary bg-tertiary p-1 px-3 rounded-full"
  >
    <ThemeToggle client:load />
  </div>
</div>
